<!DOCTYPE html>
<html>
<head>
	<title>📢 Shout!</title>
	<link rel="stylesheet" type="text/css" href="/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/css/app.css">
	<link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<script type="text/javascript">

	if(!location.hash.replace('#', '').length) {
		location.href = location.href.split('#')[0] + '#' + (Math.random() * 100).toString().replace('.', '');
		location.reload();
	}</script>
</head>
<body id="page-top">
